p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 300px;
  line-height: 24px;
}
.banner-bottom {
  color: white;
  text-align: center;
  background-color: #e34140;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.paragraph {
  font-size: 15px;
  color: rgb(96, 96, 96);
  font-weight: 300;
  line-height: 20px;
}

.span-example:hover {
  text-decoration: underline;
  cursor: pointer;
}
