p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /* this style below will be inherited */
  margin: 0;
  height: 3000px;
  padding-top: 90px;
  padding-left: 120px;
  background-color: rgb(248, 248, 248);
  font-family: roboto;
}
