.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 22px;
}
.hamburger-menu {
  height: 25px;
  margin: 0px 22px;
}
.youtube-logo {
  height: 20px;
}
.search-bar {
  display: flex;
  flex: 1;
  height: 36px;
  border: 1px solid lightgray;
  border-right: none;
  border-radius: 2px 0px 0px 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-icon-button {
  height: 40px;
  width: 70px;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 2px 2px 0px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
  position: relative;
}
.search-icon {
  width: 25px;
}
.voice-search-button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
::placeholder {
  color: rgb(165, 165, 165);
  font-size: 16px;
  padding-left: 10px;
}
.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.my-channel-icon {
  width: 35px;
  margin-left: 17px;
}
.right-icons {
  display: flex;
  align-items: center;
  justify-content: right;
}
.notification {
  position: relative;
}
.notification-dot {
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 50px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: white;
  border-width: 2px;
  position: absolute;
  top: -5px;
  right: 2px;
  font-size: 12px;
  font-weight: 500;
  padding: 2px;
}
.sidebar-tile {
  width: 72px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-icon-button .tooltip,
.voice-search-button .tooltip,
.upload-container .tooltip,
.youtube-apps-container .tooltip,
.notification .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 13px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-icon-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notification:hover .tooltip {
  opacity: 1;
}

.search-icon-button,
.voice-search-button,
.upload-container,
.youtube-apps-container,
.notification {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
