.thumbnail {
  width: 100%;
  object-fit: contain;
}
.profile-picture {
  width: 40px;
  border-radius: 25px;
}
.video-title {
  width: 225px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}
.video-author,
.video-stats {
  width: 100%;
  margin: 0;
  font-size: 13px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}
.video-tile {
}
.video-tile-top {
  margin-bottom: 12px;
  position: relative;
}
.video-tile-bottom {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-tile-bottom-left {
  vertical-align: top;
  margin-right: 12px;
}
.video-tile-bottom-right {
  margin: 0px;
}
.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  width: 100%;
}

@media (max-width: 987px) {
  .video-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 987px) and (max-width: 1399px) {
  .video-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .video-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.timestamp {
  position: absolute;
  background-color: black;
  color: white;
  padding: 2px 5px;
  bottom: 10px;
  right: 5px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  border-radius: 2px;
}
